body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f4f7fb;
    color: #333;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #e63946, #ff6b6b);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 42px;
}

.hero p {
    font-size: 18px;
    max-width: 700px;
    margin: auto;
}

/* INFO CARDS */
.info {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card h3 {
    columns: #e63946;
}

/* GALLARY */
.gallary {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.gallary img {
    width: 260px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* FORM */
.form-section {
    background: white;
    padding: 40px;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.grid input{
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 1px;
    background: #e63946;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #d62828;
}

/* RESULT */
.result {
    margin-top: 25px;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.success {
    background: #d4edda;
    color: #155724;
}

.danger {
    background: #f8d7da;
    color: #721c24;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}